<h2>{{listings.name}}</h2>
<img src="{{listings.photo}}" alt="listing photo" height="42" width="42">
<p>{{ listings.description }}</p>
<p>{{ listings.address}}</p>
<p>{{listings.availability}}</p>
<p>{{listings.listingOwner}}</p>

<a href="/">Back to home page</a>