
<br>
<br>
<br>
<br>
<br>
{{!-- 
<h2>{{listings.name}}</h2>
<img src="{{listings.photo}}" alt="listing photo" height="42" width="42">
<p>{{ listings.description }}</p>
<p>{{ listings.address}}</p>
<p>{{listings.availability}}</p>
<p>{{listings.listingOwner}}</p>

<a href="/">Back to home page</a> --}}
<center><h2>Details</h2></center>

<div class="detailClass">


<!-- Card -->
<div class="card">

  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="{{listings.photo}}" alt="Card image cap" height="200" width="200">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title">{{listings.name}}</h4>
    <!-- Text -->
    <p class="card-text">{{ listings.description}}</p>
    <p class="card-text">{{ listings.address}}</p>
    <p class="card-text">{{ listings.availability}}</p>
    <p class="card-text">{{listings.listingOwner}}</p>
   
  </div>

</div>
<button type="button" class="btn btn-default btn-lg btn-block"><a href="/">Back to home page</a></button>
<!-- Card -->
</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
            